# this library requires the cx_Oracle package, but we source it from our
# ready-made Oracle docker container: https://github.com/cityofaustin/atd-oracle-py
arrow==0.17.*
boto3==1.14.*
knackpy==1.0.*
pandas==1.3.*
sodapy==2.1.*
